# Decision Trees

In [2]:
import numpy as np
import pandas as pd

In [3]:
hr = pd.read_csv('HR Analytics.csv')

In [4]:
hr

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,0,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,0,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,0,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,0,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,0,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,0,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,0,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,0,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,0,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,1,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,0,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,0,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,0,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,0,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,0,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,0,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,1,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,0,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,0,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,1,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,0,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,1,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,0,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,0,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,0,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,0,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,1,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,0,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,1,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,0,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,0,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,0,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,0,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,0,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,0,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,0,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,1,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,0,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,0,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,0,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,0,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,0,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,0,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,0,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,0,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,1,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,0,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,0,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,0,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,0,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

### Output Columns: Target/Dependent variable
### Input Columns: Independent Vriables/ Predictors

In [5]:
# to get dimensions of data
print(hr.shape) # gives you dimensions i.e rows x col
print(hr.shape[0]) # gives you the no of rows
print(hr.shape[1]) # gives you the no of columns

(1470, 35)
1470
35

## To get the value counts of a columns

In [6]:
hr['Attrition'].value_counts() # this gives you the frequency of each distinct variable present in the column

0    1233
1     237
Name: Attrition, dtype: int64

In [7]:
# to get the percentage we divide the count by no of rows and multiply by 100
hr['Attrition'].value_counts() / hr.shape[0] * 100

0    83.877551
1    16.122449
Name: Attrition, dtype: float64

### every row in the data is either called as observation or a sample

## to check structure of each column

In [8]:

hr.dtypes
# numerial - int64, float
# categorical- object

Age                          int64
Attrition                    int64
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
# any function which starts with _ is an internal function and we are not supposed to use it much often because there is
# an uncertainity that this function might get removed in the upcoming versions
hr._get_numeric_data()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,1,4,4,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,1,5,4,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,7,1,40,3,...,4,80,1,6,3,3,2,2,2,2
5,32,0,1005,2,2,1,8,4,79,3,...,3,80,0,8,2,2,7,7,3,6
6,59,0,1324,3,3,1,10,3,81,4,...,1,80,3,12,3,2,1,0,0,0
7,30,0,1358,24,1,1,11,4,67,3,...,2,80,1,1,2,3,1,0,0,0
8,38,0,216,23,3,1,12,4,44,2,...,2,80,0,10,2,3,9,7,1,8
9,36,0,1299,27,3,1,13,3,94,3,...,2,80,2,17,3,2,7,7,7,7
10,35,0,809,16,3,1,14,1,84,4,...,3,80,1,6,5,3,5,4,0,3
11,29,0,153,15,2,1,15,4,49,2,...,4,80,0,10,3,3,9,5,0,8
12,31,0,670,26,1,1,16,1,31,3,...,4,80,1,5,1,2,5,2,4,3
13,34,0,1346,19,2,1,18,2,93,3,...,3,80,1,3,2,3,2,2,1,2
14,28,1,103,24,3,1,19,3,50,2,...,2,80,0,6,4,3,4,2,0,3
15,29,0,1389,21,4,1,20,2,51,4,...,3,80,1,10,1,3,10,9,8,8
16,32,0,334,5,2,1,21,1,80,4,...,4,80,2,7,5,2,6,2,0,5
17,22,0,1123,16,2,1,22,4,96,4,...,2,80,2,1,2,2,1,0,0,0
18,53,0,1219,2,4,1,23,1,78,2,...,3,80,0,31,3,3,25,8,3,7
19,38,0,371,2,3,1,24,4,45,3,...,3,80,0,6,3,3,3,2,1,2
20,24,0,673,11,2,1,26,1,96,4,...,4,80,1,5,5,2,4,2,1,3
21,36,1,1218,9,4,1,27,3,82,2,...,2,80,0,10,4,3,5,3,0,3
22,34,0,419,7,4,1,28,1,53,3,...,3,80,0,13,4,3,12,6,2,11
23,21,0,391,15,2,1,30,3,96,3,...,4,80,0,0,6,3,0,0,0,0
24,34,1,699,6,1,1,31,2,83,3,...,3,80,0,8,2,3,4,2,1,3
25,53,0,1282,5,3,1,32,3,58,3,...,4,80,1,26,3,2,14,13,4,8
26,32,1,1125,16,1,1,33,2,72,1,...,2,80,0,10,5,3,10,2,6,7
27,42,0,691,8,4,1,35,3,48,3,...,4,80,1,10,2,3,9,7,4,2
28,44,0,477,7,4,1,36,1,42,2,...,4,80,1,24,4,3,22,6,5,17
29,46,0,705,2,4,1,38,2,83,3,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,688,4,2,1,2025,4,97,3,...,2,80,3,18,3,3,4,2,0,2
1441,56,0,667,1,4,1,2026,3,57,3,...,1,80,1,13,2,2,13,12,1,9
1442,29,1,1092,1,4,1,2027,1,36,3,...,2,80,3,4,3,4,2,2,2,2
1443,42,0,300,2,3,1,2031,1,56,3,...,1,80,0,24,2,2,22,6,4,14
1444,56,1,310,7,2,1,2032,4,72,3,...,4,80,1,14,4,1,10,9,9,8
1445,41,0,582,28,4,1,2034,1,60,2,...,3,80,1,21,3,3,20,7,0,10
1446,34,0,704,28,3,1,2035,4,95,2,...,4,80,2,8,2,3,8,7,1,7
1447,36,0,301,15,4,1,2036,4,88,1,...,1,80,1,15,4,2,15,12,11,11
1448,41,0,930,3,3,1,2037,3,57,2,...,3,80,1,14,5,3,5,4,0,4
1449,32,0,529,2,3,1,2038,4,78,3,...,4,80,0,4,4,3,4,2,1,2
1450,35,0,1146,26,4,1,2040,3,31,3,...,3,80,0,9,2,3,9,0,1,7
1451,38,0,345,10,2,1,2041,1,100,3,...,3,80,1,10,1,3,10,7,1,9
1452,50,1,878,1,4,1,2044,2,94,3,...,4,80,2,12,3,3,6,3,0,1
1453,36,0,1120,11,4,1,2045,2,100,2,...,1,80,1,8,2,2,6,3,0,0
1454,45,0,374,20,3,1,2046,4,50,3,...,3,80,0,8,3,3,5,3,0,1
1455,40,0,1322,2,4,1,2048,3,52,2,...,4,80,0,8,2,3,2,2,2,2
1456,35,0,1199,18,4,1,2049,3,80,3,...,4,80,2,10,2,4,10,2,0,2
1457,40,0,1194,2,4,1,2051,3,98,3,...,2,80,3,20,2,3,5,3,0,2
1458,35,0,287,1,4,1,2052,3,62,1,...,4,80,1,4,5,3,4,3,1,1
1459,29,0,1378,13,2,1,2053,4,46,2,...,1,80,1,10,2,3,4,3,0,3
1460,29,0,468,28,4,1,2054,4,73,2,...,2,80,0,5,3,1,5,4,0,4
1461,50,1,410,28,3,1,2055,4,39,2,...,2,80,1,20,3,3,3,2,2,0
1462,39,0,722,24,1,1,2056,2,60,2,...,1,80,1,21,2,2,20,9,9,6
1463,31,0,325,5,3,1,2057,2,74,3,...,2,80,0,10,2,3,9,4,1,7
1464,26,0,1167,5,3,1,2060,4,30,2,...,4,80,0,5,2,3,4,2,0,0
1465,36,0,884,23,2,1,2061,3,41,4,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,613,6,1,1,2062,4,42,2,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,155,4,3,1,2064,2,87,4,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,1023,2,3,1,2065,4,63,2,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,628,8,3,1,2068,2,82,4,...,1,80,0,6,3,4,4,3,1,2

In [10]:
hr._get_numeric_data().columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

## Data Preprocessing
- Missing value Treatment
- Outlier removal
- Column type conversion
- Standardization

## Split data into train and test

- Build models using train data
- Test and validate using test data

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
hr.shape

(1470, 35)

In [13]:
hr.shape[0]*.7

1029.0

In [14]:
np.random.seed(100)
train_rows = np.random.randint(1,hr.shape[0], int(hr.shape[0]*.7))
train_rows

array([ 793,   80,  351, ..., 1083,  388,  452])

In [36]:
# MANUAL CODE WHICH IS NOT NEEDED
#splitting it into train
train = hr.iloc[train_rows]
print(train.shape)
train.head()

(1029, 35)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
793,28,0,Travel_Rarely,895,Research & Development,15,2,Life Sciences,1,1102,...,4,80,1,4,5,2,4,2,2,2
80,30,0,Travel_Rarely,852,Research & Development,1,1,Life Sciences,1,104,...,3,80,2,10,1,2,10,8,3,0
351,32,0,Travel_Rarely,1062,Research & Development,2,3,Medical,1,471,...,3,80,1,8,4,3,8,0,0,7
54,26,0,Travel_Rarely,1443,Sales,23,3,Marketing,1,72,...,3,80,1,5,2,2,2,2,0,0
803,34,0,Non-Travel,697,Research & Development,3,4,Life Sciences,1,1115,...,4,80,3,6,2,3,0,0,0,0

##  First Step: Get dummies

In [37]:
hr_dummies = pd.get_dummies(hr)
hr_dummies
# dummies will create separate columns for each value of the categories we have
'''for example in the iris dataset we had 3 values inspecies column namely setosa, virgininca and versicolor
    so, when we get dummies for iris we get species.setosa, species.virginica, species.versicolor, 
    also the no of rows will be same and the flag for the respective category will be 1, and 0 for rest'''

'for example in the iris dataset we had 3 values inspecies column namely setosa, virgininca and versicolor\n    so, when we get dummies for iris we get species.setosa, species.virginica, species.versicolor, \n    also the no of rows will be same and the flag for the respective category will be 1, and 0 for rest'

##  Second Step: Split data into test and train

In [38]:
# One line method to split the data using sklearn
train, test = train_test_split(hr_dummies,
                               test_size = 0.3,
                               random_state=100)
print(train.shape)
print(test.shape)

(1029, 56)
(441, 56)

##  Segregate Data

In [39]:
# Segregating input and output
train_y = train['Attrition']  # target column, i.e output or labels
train_x = train.drop('Attrition', axis=1)# every column except target column, i.e input columns or features

test_y = test['Attrition']   # target column, i.e output or labels 
test_x = test.drop('Attrition', axis=1) # every column except target column, i.e input columns or features

train_x.shape

(1029, 55)

In [40]:
print(train_y.shape)
print(test_y.shape)
print(train_x.shape)
print(test_x.shape)

(1029,)
(441,)
(1029, 55)
(441, 55)

## Building Model

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [42]:
# Creating a model
model = DecisionTreeClassifier()
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [43]:
# predicting on test data
test_pred = model.predict(test_x)
print(len(test_pred))
test_pred

441

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1], dtype=int64)

In [44]:
df_pred = pd.DataFrame({'actual': test_y,
                         'predicted': test_pred})
df_pred.head()

      actual  predicted
880        0          1
152        0          1
1466       0          0
1084       0          0
1086       0          0

In [45]:
df_pred['Status'] = df_pred['actual'] == df_pred['predicted']
df_pred.head()

      actual  predicted  Status
880        0          1   False
152        0          1   False
1466       0          0    True
1084       0          0    True
1086       0          0    True

In [46]:
df_pred['Status'].value_counts() / df_pred.shape[0] * 100

True     78.45805
False    21.54195
Name: Status, dtype: float64

##  Machine Learning Process
- Clean/Prepare your data (EDA Process)
    - Missing Value Treatment
    - Outlier removal
    - Standardization
    - Dummy variable Conversion
- Split your data in training and testing
- Separate input & output columns (train_x, train_y, test_x, test_y)
- Build model using train data
- predict output values for test data
- Evalueate your model
    - Accuracy ,sensitivity, specificity
- Fine tune your model(s) for better performance
    - Hyper parameter tuning
    - cross validation

## Gini Impurity

In [47]:
train_y[train_y==0].shape[0] # 862 zeros
train_y[train_y==1].shape[0] # 167 ones

167

In [48]:
1-np.square(167/1029)- np.square(862/1029)

0.27190862461880494

In [49]:
females = train[train['Gender_Female'] == 1]
print(females.shape)

print(females['Attrition'].value_counts())

(419, 56)
0    357
1     62
Name: Attrition, dtype: int64

In [50]:
1 - np.square(357/419) - np.square(62/419)

0.2521516737772056

In [51]:
male = train[train['Gender_Female'] == 0]
print(male.shape)

print(male['Attrition'].value_counts())

(610, 56)
0    505
1    105
Name: Attrition, dtype: int64

In [52]:
1 - np.square(505/610) - np.square(105/610)

0.2850040311744155

The gini impurity for

In [53]:
ovt = train[train['OverTime_No'] == 1]
print(ovt.shape)

print(ovt['Attrition'].value_counts())

(740, 56)
0    665
1     75
Name: Attrition, dtype: int64

In [54]:
1 - np.square(665/740) - np.square(75/740)

0.18215850986121246

In [34]:
ovty = train[train['OverTime_No'] == 0]
print(ovty.shape)

print(ovty['Attrition'].value_counts())

(289, 56)
0    197
1     92
Name: Attrition, dtype: int64

In [35]:
1 - np.square(197/289) - np.square(92/289)

0.4339986350738138